:root {
	--gradient-dir1: 45deg;
	--gradient-dir2: 90deg;
	--gradient-dir3: -45deg;
}

.mtk {
	&3 {
		/* color: #fcd8d4; */
		font-weight: bold;
		color: transparent;
		background-image: linear-gradient(319deg, #b199f3, #e59ebc);
		background-clip: text;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}
	&5 {
		font-weight: bold;
		color: transparent;
		/* background-image: linear-gradient(45deg, #bd71d0, #d8707e); */
		background-image: linear-gradient(347deg, #fbda61, #ff5acd);
		/* background-image: linear-gradient(-45deg, #97d9e1, #ff6e7f);
	background-image: linear-gradient(-45deg, #d9afd9, #97d9e1);
	background-image: linear-gradient(-45deg, #f8badc, #ff6e7f);
	background-image: linear-gradient(-45deg, #6844d8, #9bebf5); */
		background-clip: text;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}
	&7 {
		font-weight: bold;
		color: transparent;
		background-image: linear-gradient(45deg, #fc6c8f, #ffb86c);
		background-clip: text;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}
	&13 {
		color: #2cccff;
	}
	&14 {
		font-weight: bold;
		color: transparent;
		background: linear-gradient(to right, #12fff7, #b3ffab);
		background-clip: text;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}
	&10,
	&15 {
		font-weight: bold;
		color: transparent;
		background-image: linear-gradient(
			45deg,
			rgb(254, 178, 72),
			rgb(250, 78, 96)
		);
		background-clip: text;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}
	&16 {
		font-weight: bold;
		color: transparent;
		/* background-image: linear-gradient(
		-45deg,
		rgb(180, 111, 255),
		rgb(245, 59, 103)
	); */
		background-image: linear-gradient(161deg, #4ac29a, #bdfff3);
		background-clip: text;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}
	&9,
	&17 {
		color: #ffcd82;
	}
	&18 {
		/* color: #ffc368; */
		/* color: lightblue; */
		font-weight: bold;
		color: transparent;
		/* background-image: linear-gradient(90deg, #24c6dc, #837cca); */
		background-image: linear-gradient(45deg, #5eaaea, #56e2cc);
		background-clip: text;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}
}
.monaco {
	&-workbench {
		.activitybar > .content :not(.monaco-menu) > .monaco-action-bar {
			.action-item.checked .active-item-indicator:before {
				position: absolute;
				top: 0;
				left: 0;
				border: 0;
				width: 3.7px;
				height: 100%;

				/* animation: top-to-bottom 0.6s infinite linear;
	background-image: linear-gradient(to bottom, #fc6c8f, #ff2ced); */

				background-size: 400% 400%;
				background-image: linear-gradient(
					-135deg,
					#fc6c8f,
					#ff2ced,
					#ffb86c,
					#2cccff,
					#20e3b2,
					#ffcc70,
					#c850c0,
					#4158d0
				);
				animation: gradient-down 3s ease-in-out alternate infinite;
			}
			.badge .badge-content {
				background-size: 400% 400%;
				background-image: linear-gradient(
					-135deg,
					#fc6c8f,
					#ff2ced,
					#ffb86c,
					#2cccff,
					#20e3b2,
					#ffcc70,
					#c850c0,
					#4158d0
				);
				animation: gradient 3s ease-in-out alternate infinite;
			}
		}
		.part.editor {
			&
				> .content
				.editor-group-container
				> .title
				.tabs-container
				> .tab.active.tab-border-top
				> .tab-border-top-container {
				height: 3.7px;
				/* animation: left-to-right 0.18s infinite linear;
	background-image: linear-gradient(to left, #fc6c8f, #ff2ced); */

				background-size: 400% 400%;
				background-image: linear-gradient(
					-45deg,
					#fc6c8f,
					#ff2ced,
					#ffb86c,
					#2cccff,
					#20e3b2,
					#ffcc70,
					#c850c0,
					#4158d0
				);
				animation: gradient 3s ease-in-out alternate infinite;
			}
		}
	}
	&-editor {
		.cursors-layer .cursor {
			background-image: linear-gradient(to bottom, #fc6c8f, #ff2ced);
		}
	}
	&-sash vertical {
		color: #cdb0ff;
		width: 3px;
	}
}
div {
	&.active-line-numbers {
		color: white;
	}
	&.line-numbers {
		color: rgb(175, 175, 175);
	}
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
@keyframes gradient-down {
	0% {
		background-position: 50% 0%;
	}
	50% {
		background-position: 50% 100%;
	}
	100% {
		background-position: 50% 0%;
	}
}
@keyframes left-to-right {
	from {
		background-image: linear-gradient(to left, #fc6c8f, #ff2ced);
	}
	to {
		background-image: linear-gradient(to right, #fc6c8f, #ff2ced);
	}
}
@keyframes top-to-bottom {
	from {
		background-image: linear-gradient(to top, #fc6c8f, #ff2ced);
	}
	to {
		background-image: linear-gradient(to bottom, #fc6c8f, #ff2ced);
	}
}
